body{
    background-color: black;
    box-sizing: border-box;
}

.container{
    width: 80%;
    height: 11rem;
   
    display: flex;
    position: absolute;
    top: 40vh;
    left: 10%;
}

.content{
    border:groove gainsboro 10px;
    height: auto;
    width: 21%;
    font-size: 9vw;
    text-align: center;
    padding-top: 2rem;
    background-color: grey;
}